*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body{
    font-family: "Times New Roman", Georgia, Serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
     letter-spacing: 5px;
}

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}

.footer{
	background-color: #d9a494;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #fefefe;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #7b2e24;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fefefe;
	text-decoration: none;
	font-weight: 300;
	color:  #7b2e24;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #fefefe;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: flex;
	height: 40px;
	width: 40px;
	background-color: rgba(180, 30, 30, 0.2);
	text-align: left;
	line-height: 40px;
	border-radius: 50%;
	color: #fefefe;

}
.footer-col .social-links a:hover{
	color: #7b2e24;
	background-color: #fefefe;
}
